body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    height: 100%;

}

.contant {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 6 140px;
}


.contant>* {
    /* margin: 0; */
    padding: 0 calc(50% - 600px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-bottom: 30px;
}

.mainhead {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 12px;
}

.empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    /* height: 100%;
    justify-content: center; */
}
.empty-block svg {
    font-size: 4em;
    fill: #dedede;
}

.empty-block .btn{
    border: 1px solid#dedede;
    border-radius: 18px;
    display: flex;
    padding: 6px 12px;
    vertical-align: 40px;
}

.catal1 {
    border-radius: 18px;
    border: 1px solid #dedede;
    background-color: rgba(255, 255, 0, 0.773);
    padding: 6px 12px;
    width: fit-content;
    font-weight: bold;
}

.catal1 svg {
    position: relative;
    bottom: -2px;
}

h1 {
    font-size: 30px;
    margin-top: 14px;
    width: 400px;
}

.description {
    font-size: 20px;
    width: 360px;
    margin-bottom: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.prodpic {
    max-height: 300px;
    width: 300px;
}

.prod-descr {
    font-size: 20px;
}

.prod-price {
 font-size: 30px;
 font-weight: bold;
}

.back {
    border-radius: 18px;
    border: 1px solid #dedede;
    background-color: rgba(255, 255, 0, 0.773);
    padding: 6px 12px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}

.cart svg {
    font-size: 4em;
    fill: #dedede;
}

.cart .btn{
    border: 1px solid#dedede;
    border-radius: 18px;
    display: flex;
    padding: 6px 12px;
    vertical-align: 40px;
}

/* .empty-block>*:not(svg) {
 font-size: 1rem;
} */

@media (max-width: 1260px) {
    .contant>* {
        padding: 0 30px;
    }
    
    .cards {
    grid-template-columns: repeat(3, 1fr);
}
}

/* 
#root {
    min-height: 100vh;
    background-color: rgb(200, 200, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.mark {
    color: blue;
}

.card {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
} */