header {
    background-color: rgba(255, 255, 0, 0.773);
    opacity: 100;
    display: flex;
    flex-direction: column;
    min-height: 14vh;
    max-height: 18vh;
    position: sticky;
}

.headnav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 40px;
    min-height: 14vh;

}

/* .mainhead {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    margin-bottom: 1rem;
} */

.logo {
    position: relative;
    /* max-height: 3.5em; */
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.search:focus {
    border-bottom-color: white;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.1em;
    font-weight: 200;
}

.badge-link {
    position: relative;
}
.badge {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 8px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

a {
    text-decoration: none;
    color: inherit;
}






